body {
    background: black;
    color: rgb(255, 255, 255);
    font-family: "Lato";
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid white;
    background: rgb(255, 255, 255);
}

.leaflet-top .leaflet-control-zoom {
    position: relative;
    top: 50px;
}

.sidebar {
    opacity: 0.6;
    float: right;
    position: absolute;
    width: 0;
    height: 100%;
    right: 0;
    top: 0;
    background: black;
    color: white;
    box-shadow: 2px 0 6px 2px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    transition: width 1s, opacity 1s;
}

.sidebar main {
    padding: 10px 20px;
}

.sidebar:hover {
    opacity: 1;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 12px 15px;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    z-index: 500;
    border: none;
    transition: background-color 0.2s;
}

.openbtn:hover {
    background-color: #444;
}


/* Add a black background color to the top navigation */

.topnav {
    width: 100%;
    max-height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    transition: width 1s;
    z-index: 500;
}


/* Style the links inside the navigation bar */

.topnav a,
button {
    float: left;
    display: block;
    font: inherit;
    cursor: pointer;
    background-color: #000000;
    border: none;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
}

.topnav h1 {
    float: left;
    color: white;
    text-align: center;
    padding: 15px 15px;
    font-size: 17px;
    margin: 0;
}


/* Change the color of links on hover */

.topnav a:hover,
button:hover {
    background-color: #444;
    color: black;
    transition: background-color 0.3s;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #444;
    color: white;
}

.map-wrapper {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: width 1s;
}

#map {
    width: 100%;
    height: 100%;
}

.range-slider-wrapper {
    opacity: 0;
    /* hide the slider by default, show it via javascript */
    transition: opacity 0.3s ease-in;
    position: absolute;
    z-index: 500;
    bottom: 40px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    max-width: 80%;
    color: black;
}

.range-slider {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
}

.range-slider:focus {
    outline: none;
}


/* focus on firefox */

.range-slider::-moz-focus-outer {
    border: 0;
}


/* the slider thumb for safari, chrome, etc.*/

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 40px;
    width: 12px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -19px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px black;
}


/* the slider thumb for firefox */

.range-slider::-moz-range-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 40px;
    width: 12px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px black;
}


/* the slider thumb for IE and Edge */

.range-slider::-ms-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 40px;
    width: 12px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px black;
}


/* the slider track for safari, chrome, etc. */

.range-slider::-webkit-slider-runnable-track {
    border-radius: 2px;
    background: black;
    border: 1px solid black;
    height: 5px;
}


/* the slider track for firefox */

.range-slider::-moz-range-track {
    border-radius: 2px;
    background: black;
    border: 1px solid black;
}


/* the slider track for IE and Edge */

.range-slider::-ms-range-track {
    border-radius: 2px;
    background: black;
    border: 1px solid black;
}

.range-slider-wrapper .left {
    position: absolute;
    left: 0;
    bottom: -30px;
    transform: translateX(-50%);
}

.range-slider-wrapper .right {
    position: absolute;
    left: 0;
    bottom: -30px;
    transform: translateX(-50%);
}

.range-slider-wrapper .right {
    left: auto;
    right: 0;
    transform: translateX(50%);
}

.range-slider-wrapper .now {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
}

.textbox-layer {
    position: relative;
    /* Sit on top of the page content */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black background with opacity */
    z-index: 700;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    text-align: justify;
    transition: 5s;
    display: none;
}

.textbox-layer a {
    text-decoration: none;
    color: white;
}

.textbox-layer #about-content,
#contact-content {
    position: relative;
    /* Hidden by default */
    text-decoration: none;
    padding: 2%;
    padding-top: 1px;
    padding-bottom: 20px;
    font-weight: bold;
}

.sidebar .mobile-close {
    display: none;
    border: none;
    background: transparent;
    font-size: 25px;
    float: right;
    padding: 7px 14px;
    cursor: pointer;
}

.mobile-open {
    display: none;
    position: absolute;
    bottom: 0px;
    z-index: 500;
    width: 101%;
    height: 40px;
    border: 0;
    background: #000;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
}


/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .body {
        overflow-y: scroll;
    }
    .map-wrapper {
        height: 100vh;
    }
    .topnav a,
    .topnav h1 {
        float: left;
        width: 100%;
    }
    .openbtn {
        visibility: hidden;
    }
    .sidebar {
        height: calc(100vh - 50px);
        /* 100 viewport height minus the 50px height of the navbar */
        opacity: 1;
        width: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        position: fixed;
        padding: 0;
        margin: 0;
        top: 100vh;
        transition: transform 0.3s ease-in;
        transform: translateY(0);
    }
    .sidebar.open {
        transform: translateY(calc(-100vh + 50px));
    }
    .sidebar .mobile-close {
        display: block;
    }
    .mobile-open {
        display: block;
    }
    .leaflet-bottom {
        bottom: 40px !important;
    }
    .range-slider-wrapper {
        bottom: 90px;
    }
}

.date-select {
    position: fixed;
    z-index: 2000;
    top: 66px;
    left: 60px;
}